body {
	background-image: url("images/bg_blueprint.png");
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
	background-size: 200px 200px;
	/* line-height: 1.35; */
	font-family: Tahoma, sans-serif;
	background-attachment: fixed;
	background-position: center;
}

li {
	list-style-type: circle
}

hr {
	width: 100%;
}

.headerDiv {
	/* background-color: #00ffff; */
	width: 30%;
	min-width: 200px;
	margin: auto;
}

.headerLogo {
	width: 200px;
	margin: auto;
}

.headerLinkIcon {
	width: 15%;
	max-width: 75px;
	min-width: 40px;
}

.footerDiv {
}

.bodyDiv {
	width: 80%;
	max-width: 1500px;
	min-width: 460px;
	margin: auto;
	padding: 10px;
	/* background-color: #ffffff; */
	/* border: 40px solid; */
	/* border-image: url("images/bodyDivBG.png") 90 round; */
}

.gameDescriptionText{
	width: 50%;
	min-width: 460px;
	/* background-color: #ff0000; */
	margin: auto; 
	float: left;
}

.gameDescriptionTable {
	width: 50%;
	min-width: 460px;
	/* background-color: #ffff00; */
	margin: auto; 
	float: right;
	padding-bottom: 10px;
}

.gameDescriptionTableImage { width: 100%; }

.steamEmbed {
	border: 0;
	width: 50%;	
	min-width: 460px;
	height: 190;
	/* background-color: #00ff00; */
	margin: auto; 
	float: right;
	padding-bottom: 10px;
}